Repository LBrian/bigb, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, permission, BrP dependency

Update index.ts
  src/__generated__/index.ts
Labels: BrP dependency

Update index.ts
  src/schema/Permission/index.ts
Labels: permission

Update index.ts
  src/schema/Permission/index.ts
Labels: permission

Update index.ts
  src/schema/Permission/index.ts
Labels: permission

Update package.json
  package.json
Labels: dependencies

Upgraded dependencies
  .eslintcache
  .node-version
  .nvmrc
  README.md
  README.old.md
  package.json
  public/avatar.png
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  pull_request_template.md
  src/App.css
  src/App.js
  src/App.test.js
  src/DS/index.js
  src/__generated__/index.ts
  src/index.css
  src/index.js
  src/logo.svg
  src/registerServiceWorker.js
  src/reportWebVitals.js
  src/schema/Permission/index.ts
  src/setupTests.js
  yarn.lock
Labels: documentation, dependencies, permission, BrP dependency

Added Firebase configuration
  .firebaserc
  .gitignore
  firebase.json
  public/index.html
Labels: none

Removed eslintcache
  .eslintcache
Labels: none

Tweaked favicon
  public/index.html
  src/App.js
  src/index.js
Labels: none

Set up TS/Linting and Prettier
  .eslintignore
  .eslintrc
  .gitignore
  .prettierignore
  .prettierrc
  .vscode/react.code-snippets
  craco.config.js
  package-lock.json
  package.json
  src/App.css
  src/App.js
  src/App.tsx
  src/components/Header/Header.tsx
  src/components/Header/index.ts
  src/components/index.ts
  src/index.css
  src/index.jsx
  src/logo.svg
  src/react-app-env.d.ts
  tailwind.config.js
  tsconfig.json
  yarn.lock
Labels: dependencies

Added react-router-dom
  .gitignore
  package-lock.json
  package.json
  src/App.tsx
  src/Components/About/About.tsx
  src/Components/About/index.ts
  src/Components/Header/Header.tsx
  src/Components/Header/index.ts
  src/Components/index.ts
  tailwind.config.js
  yarn.lock
Labels: dependencies

Tweaked main page
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/index.html
  src/App.tsx
  src/Components/About/About.tsx
  src/Components/About/index.ts
  src/Components/Header/Header.tsx
  src/Components/Main/Main.tsx
  src/Components/Main/index.ts
  src/Components/index.ts
  src/components/Header/Header.tsx
  src/components/index.ts
Labels: none

Changed react to preact
  craco.config.js
  package-lock.json
  package.json
  yarn.lock
Labels: dependencies

Added darkMode feature and Web Comp
  package-lock.json
  package.json
  src/App.tsx
  src/Components/Header/Header.tsx
  src/Components/Main/Main.tsx
  src/components/Header/Header.tsx
  src/types.d.ts
  yarn.lock
Labels: dependencies

Added more wired-elements
  public/index.html
  src/Components/Header/Header.tsx
  src/Components/Main/Main.tsx
  src/components/Header/Header.tsx
  src/types.d.ts
Labels: none

Removed duplicate folder
  src/Components/Header/Header.tsx
  src/components/Header/Header.tsx
  src/components/Header/index.ts
  src/components/index.ts
Labels: none

Added preact-cli for HMR
  .prettierignore
  .prettierrc
  craco.config.js
  package-lock.json
  package.json
  preact.config.js
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/preact-template.html
  src/App.tsx
  src/Components/Header/Header.tsx
  src/Components/Main/Main.tsx
  src/index.jsx
  tsconfig.json
  yarn.lock
Labels: dependencies

Added lint-staged
  package.json
Labels: dependencies

Added deploy into build task
  package.json
Labels: dependencies

Tweaked wired-toggle styles
  preact.config.js
  src/App.tsx
  src/Components/Header/index.ts
  src/Components/Main/Main.tsx
  src/Components/Main/index.ts
  src/Components/Name.tsx
  src/Components/index.ts
  src/Layout/Header/Header.tsx
  src/Layout/Header/index.ts
  src/Layout/Main/Main.tsx
  src/Layout/Main/index.ts
  src/Layout/index.ts
  src/index.css
  src/types.d.ts
Labels: none

[BUG 932934901] Fixed Android add to homescreen
  public/manifest.json
Labels: none

Added Intro component
  src/App.tsx
  src/Components/Intro.tsx
  src/Components/Name.tsx
  src/Components/ShieldsBadge/ShieldsBadge.tsx
  src/Components/ShieldsBadge/ShieldsBadges.tsx
  src/Components/ShieldsBadge/index.ts
  src/Components/index.ts
  src/Layout/Header/Header.tsx
  src/Layout/Main/Main.tsx
  src/index.css
  tailwind.config.js
Labels: none

Tweaked theme colors
  src/Components/DraculaName.tsx
  src/Components/DraculaNumber.tsx
  src/Components/DraculaString.tsx
  src/Components/Intro.tsx
  src/Components/index.ts
  src/Layout/Main/Main.tsx
  src/index.css
Labels: none

Added draft Card component
  package-lock.json
  package.json
  public/index.html
  src/App.tsx
  src/Components/Card.tsx
  src/Components/Dracula/DraculaName.tsx
  src/Components/Dracula/DraculaNumber.tsx
  src/Components/Dracula/DraculaString.tsx
  src/Components/Dracula/index.ts
  src/Components/Intro.tsx
  src/Components/index.ts
  src/index.css
  yarn.lock
Labels: dependencies

Fixed small style issues
  src/Components/Intro.tsx
Labels: none

Tweaked Card styles
  src/Components/Card.tsx
  src/Components/Dracula/DraculaNumber.tsx
  src/Components/Dracula/DraculaString.tsx
  src/Components/Intro.tsx
  src/index.css
  tsconfig.json
Labels: none

Added experience section
  .eslintrc
  public/formac.png
  public/line.png
  public/stackla.png
  public/tradeledger.jpg
  public/trendmicro.jpg
  public/yahoo.png
  src/App.tsx
  src/Components/Card.tsx
  src/Components/Section.tsx
  src/Components/index.ts
  src/Layout/Content/Career.tsx
  src/Layout/Content/Content.tsx
  src/Layout/Content/Intro.tsx
  src/Layout/Content/index.ts
  src/Layout/Header.tsx
  src/Layout/Header/index.ts
  src/Layout/Main/Main.tsx
  src/Layout/Main/index.ts
  src/Layout/index.ts
  src/index.css
  src/types.d.ts
Labels: none

Fixed section title overflow on iphone 5
  src/Components/Section.tsx
  src/Layout/Content/Career.tsx
Labels: none

Tweaked job cards
  .eslintrc
  .prettierrc
  craco.config.js
  package-lock.json
  package.json
  preact.config.js
  src/App.tsx
  src/Components/ShieldsBadge/ShieldsBadge.tsx
  src/Components/ShieldsBadge/ShieldsBadges.tsx
  src/Layout/Content/Career.tsx
  src/Layout/Content/Content.tsx
  src/index.css
Labels: dependencies

Tweaked career cards order
  src/Layout/Content/Career.tsx
  src/index.css
Labels: none

Tweaked padding
  src/Layout/Content/Content.tsx
Labels: none

Added firebase auto deploy
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  .gitignore
  package.json
Labels: dependencies

Test auto deployment
  src/Layout/Content/Intro.tsx
Labels: none

test workflow
  .github/workflows/firebase-hosting-merge.yml
Labels: none

Rolled back target
  .github/workflows/firebase-hosting-merge.yml
Labels: none

Fixed build is not created
  .github/workflows/firebase-hosting-merge.yml
Labels: none

Added dep install
  .github/workflows/firebase-hosting-merge.yml
Labels: none

Fixed global types file name
  src/types.ts
Labels: none

Tweaked workflow yml
  .github/workflows/firebase-hosting-merge.yml
  src/types.d.ts
Labels: none

Tweaked workflow yml
  .github/workflows/firebase-hosting-merge.yml
  src/Layout/Content/Intro.tsx
Labels: none

.github/labeler.yml:

documentation:
  - any: ['**/*.md']
dependencies:
  - 'package.json'
permission:
  - any: ['src/schema/Permission/**/*.*']
"BrP dependency":
  - any: ['src/__generated__/**/*.ts']
