Repository LBrian/bigb, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, permission, BrP dependency

Fixed workflow yml
  .github/workflows/firebase-hosting-merge.yml
Labels: none

Removed unused import bundle impact performance
  public/index.html
  public/preact-template.html
  src/App.tsx
  src/index.css
Labels: none

Avoid unnecessary badges fetching outside viewport
  src/Components/Card.tsx
  src/Components/ShieldsBadge/ShieldsBadges.tsx
Labels: none

Fixed toggle button is disappeared
  src/Layout/Header.tsx
Labels: none

Inline font-face to boost page load
  public/index.html
  public/preact-template.html
  src/index.css
Labels: none

Updated to use pwa-assets-generator
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-icon-180.png
  public/apple-splash-1125-2436.jpg
  public/apple-splash-1136-640.jpg
  public/apple-splash-1170-2532.jpg
  public/apple-splash-1242-2208.jpg
  public/apple-splash-1242-2688.jpg
  public/apple-splash-1284-2778.jpg
  public/apple-splash-1334-750.jpg
  public/apple-splash-1536-2048.jpg
  public/apple-splash-1620-2160.jpg
  public/apple-splash-1668-2224.jpg
  public/apple-splash-1668-2388.jpg
  public/apple-splash-1792-828.jpg
  public/apple-splash-2048-1536.jpg
  public/apple-splash-2048-2732.jpg
  public/apple-splash-2160-1620.jpg
  public/apple-splash-2208-1242.jpg
  public/apple-splash-2224-1668.jpg
  public/apple-splash-2388-1668.jpg
  public/apple-splash-2436-1125.jpg
  public/apple-splash-2532-1170.jpg
  public/apple-splash-2688-1242.jpg
  public/apple-splash-2732-2048.jpg
  public/apple-splash-2778-1284.jpg
  public/apple-splash-640-1136.jpg
  public/apple-splash-750-1334.jpg
  public/apple-splash-828-1792.jpg
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-196.png
  public/favicon-32x32.png
  public/index.html
  public/manifest-icon-192.png
  public/manifest-icon-512.png
  public/manifest.json
  public/preact-template.html
  src/Layout/Header.tsx
Labels: none

Added content-visibility css
  craco.config.js
  package.json
  public/index.html
  public/preact-template.html
  src/Components/Section.tsx
  src/Layout/Content/Content.tsx
  src/index.css
  tsconfig.json
Labels: dependencies

Fixed Android logo size
  craco.config.js
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/manifest.json
Labels: none

Changed manifest file name
  public/index.html
  public/manifest.webmanifest
  public/preact-template.html
Labels: none

Tweaked career cards
  public/formac.png
  public/tradeledger.jpg
  public/tradeledger.png
  src/Components/Card.tsx
  src/Layout/Content/Career.tsx
  src/index.css
Labels: none

Tweaked tiny styling issues
  src/Layout/Content/Career.tsx
  src/index.css
Labels: none

Added content-visibility web component
  package-lock.json
  package.json
  src/Components/Section.tsx
  src/index.css
  yarn.lock
Labels: dependencies

Fixed a typo
  src/Layout/Content/Career.tsx
Labels: none

Removed content-visibility to test bundle size
  src/Components/Section.tsx
Labels: none

Rolled back content-visibility
  src/Components/Section.tsx
Labels: none

Upgraded content-visibility version
  package-lock.json
  package.json
  yarn.lock
Labels: dependencies

Upgraded content-visibility version
  package-lock.json
  package.json
  yarn.lock
Labels: dependencies

Updated Open Graph meta
  package-lock.json
  public/index.html
  public/preact-template.html
  yarn.lock
Labels: none

Changed og:image
  public/index.html
  public/preact-template.html
Labels: none

Added app variables
  .env
  craco.config.js
  package-lock.json
  package.json
  prerender-urls.js
  public/index.html
  public/manifest.webmanifest
  public/preact-template.html
  yarn.lock
Labels: dependencies

Tweaked README
  README.md
  public/brianypliu.png
Labels: documentation

Added drop-shadow utility
  src/Components/Icons/IconBase.tsx
  src/Layout/Content/Intro.tsx
  src/Layout/Header.tsx
  src/index.css
Labels: none

Added portfolio
  public/image/portfolio-line.png
  public/image/portfolio-stackla.png
  public/image/portfolio-tl.png
  public/image/portfolio-ultimetrics.png
  public/image/portfolio-yahoo.png
  src/Components/CompanyPreview.tsx
  src/Components/Icons/IconBase.tsx
  src/Components/index.ts
  src/Layout/Content/Content.tsx
  src/Layout/Content/Portfolio.tsx
  src/index.css
Labels: none

Temporaily removed portfolio
  src/Layout/Content/Content.tsx
Labels: none

Tweaked styles
  src/Components/Card.tsx
  src/Components/CompanyPreview.tsx
  src/Components/index.ts
  src/Layout/Content/Portfolio.tsx
  src/index.css
Labels: none

Fixed style issues
  src/Components/Card.tsx
  src/index.css
Labels: none

Added OpenJS badge to avatar
  public/image/openjs-foundation-javascriptlandia.png
  src/Layout/Content/Intro.tsx
  src/index.css
Labels: none

Added webcomponent badge
  public/image/webcomponent-192x192.png
  src/Layout/Content/Intro.tsx
  src/index.css
Labels: none

Tweaked theme colours and footer
  src/App.tsx
  src/Layout/Footer.tsx
  src/Layout/index.ts
  src/index.css
  tailwind.config.js
Labels: none

Changed colour base of DraculaName
  src/Components/Dracula/DraculaName.tsx
Labels: none

Fixed TailwindCSS is not purged
  package.json
  preact.config.js
  prerender-urls.js
  size-plugin.json
  src/App.tsx
  src/index.css
  src/index.ts
  tailwind.config.js
Labels: dependencies

Tweaked resolve modules path
  preact.config.js
  size-plugin.json
  src/App.tsx
Labels: none

Tweaked relative import
  src/App.tsx
  src/Components/Content/Career.tsx
  src/Components/Content/Intro.tsx
Labels: none

Enabled github action debug level
  .github/workflows/firebase-hosting-merge.yml
  size-plugin.json
  src/App.tsx
Labels: none

Fixed case sensitive folder name
  .github/workflows/firebase-hosting-merge.yml
  src/App.tsx
Labels: none

Changed manifest fname
  preact.config.js
  prerender-urls.js
  size-plugin.json
  src/assets/icons/android-chrome-192x192.png
  src/manifest.webmanifest
Labels: none

Changed folder structure
  package.json
  src/App.tsx
  src/Components/Career.tsx
  src/Components/Content/index.ts
  src/Components/Intro.tsx
  src/Components/Primitive/Card.tsx
  src/Components/Primitive/Dracula/DraculaName.tsx
  src/Components/Primitive/Dracula/DraculaNumber.tsx
  src/Components/Primitive/Dracula/DraculaString.tsx
  src/Components/Primitive/Dracula/index.ts
  src/Components/Primitive/Icons/IconBase.tsx
  src/Components/Primitive/Icons/IconGithub.tsx
  src/Components/Primitive/Icons/IconLinkedin.tsx
  src/Components/Primitive/Icons/IconMedium.tsx
  src/Components/Primitive/Icons/IconMozilla.tsx
  src/Components/Primitive/Icons/IconNpm.tsx
  src/Components/Primitive/Icons/IconReddit.tsx
  src/Components/Primitive/Icons/IconSlack.tsx
  src/Components/Primitive/Icons/IconTwitter.tsx
  src/Components/Primitive/Icons/index.ts
  src/Components/Primitive/Section.tsx
  src/Components/Primitive/ShieldsBadge/ShieldsBadge.tsx
  src/Components/Primitive/ShieldsBadge/ShieldsBadges.tsx
  src/Components/Primitive/ShieldsBadge/index.ts
  src/Components/Primitive/index.ts
  src/Components/index.ts
  src/Layout/Content.tsx
  src/Layout/Footer.tsx
  src/Layout/Header.tsx
  src/Layout/index.ts
  src/types.d.ts
  tailwind.config.js
Labels: dependencies

Added first automation test
  .babelrc
  package-lock.json
  package.json
  src/AppContextProvider.tsx
  src/Layout/Header.tsx
  tests/header.test.js
Labels: dependencies

Tweaked husky
  package.json
Labels: dependencies

Tweaked husky
  package.json
Labels: dependencies

.github/labeler.yml:

documentation:
  - any: ['**/*.md']
dependencies:
  - 'package.json'
permission:
  - any: ['src/schema/Permission/**/*.*']
"BrP dependency":
  - any: ['src/__generated__/**/*.ts']
